<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ISCTEAccounts>
<Account Email="darfo@iscte-iul.pt" Name="Diogo Faustino" Password="test">
<EmailAccount Email="darfo@iscte-iul.pt" Password="EngenhariaSoftware98"/>
<Facebook Facebook="EAADoYhkS7RcBAEKHnrBd4T60iYQZCm1jfrK4xpq1quSDLCcQW7tAOXIw5TiK26A1MVZBTCV2jcijb8cdV1BtMuSZCOBdYRcDAMINHo7j4ws6F76RZC1uWuK18sZAZAZCSl99RXPJERm8okjSfMptfZCUKCc40KjUeEdtMi0a23ZCFJQZDZD"/>
<Twitter Twitter="djruORHuSHJcsJW060wtuGowg;LzofRAO9R7a8sZIDofWXoix6gtXiS43MzFsrFrlqiIeKo66Ly5;1063486441114820608-2pujB6rSntopZvEd6ENTrt3gOPspgv;DTB1yFxV0pelfd9BlbBbYar6GE34rbGHA6ceDBs0beCnd"/>
</Account>
</ISCTEAccounts>
