<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ISCTEAccounts>
<Account Email="darfo@iscte-iul.pt" Name="Diogo Faustino" Password="test">
<EmailAccount Email="darfo@iscte-iul.pt" Password="EngenhariaSoftware98"/>
<Facebook Facebook="EAADoYhkS7RcBAEKHnrBd4T60iYQZCm1jfrK4xpq1quSDLCcQW7tAOXIw5TiK26A1MVZBTCV2jcijb8cdV1BtMuSZCOBdYRcDAMINHo7j4ws6F76RZC1uWuK18sZAZAZCSl99RXPJERm8okjSfMptfZCUKCc40KjUeEdtMi0a23ZCFJQZDZD"/>
<Twitter Twitter="W1f0VvgWPfT8OBqVxvy4Mw;zKH2yAtRyefwsgOO8h8Szc4kru68iEm95QmIG7svw;36481851-VhzByC4f9MSsZES1QZQ4e4iBvA9bWGLyv9HKFpy7c;OahDuXF2Lhl5xlNYALhYZir6xSflAxKP9Zh89T05po"/>
</Account>
<Account Email="gmide@iscte-iul.pt" Name="Goncalo Duarte" Password="meh">
<EmailAccount Email="darfo@iscte-iul.pt" Password="EngenhariaSoftware98"/>
<Facebook Facebook="EAADoYhkS7RcBAEKHnrBd4T60iYQZCm1jfrK4xpq1quSDLCcQW7tAOXIw5TiK26A1MVZBTCV2jcijb8cdV1BtMuSZCOBdYRcDAMINHo7j4ws6F76RZC1uWuK18sZAZAZCSl99RXPJERm8okjSfMptfZCUKCc40KjUeEdtMi0a23ZCFJQZDZD"/>
<Twitter Twitter="W1f0VvgWPfT8OBqVxvy4Mw;zKH2yAtRyefwsgOO8h8Szc4kru68iEm95QmIG7svw;36481851-VhzByC4f9MSsZES1QZQ4e4iBvA9bWGLyv9HKFpy7c;OahDuXF2Lhl5xlNYALhYZir6xSflAxKP9Zh89T05po"/>
</Account>
<Account Email="test@iscte-iul.pt" Name="Test" Password="test1">
<EmailAccount Email="test@iscte-iul.pt" Password="test1"/>
<Facebook Facebook="EAADoYhkS7RcBAEKHnrBd4T60iYQZCm1jfrK4xpq1quSDLCcQW7tAOXIw5TiK26A1MVZBTCV2jcijb8cdV1BtMuSZCOBdYRcDAMINHo7j4ws6F76RZC1uWuK18sZAZAZCSl99RXPJERm8okjSfMptfZCUKCc40KjUeEdtMi0a23ZCFJQZDZD"/>
<Twitter Twitter="W1f0VvgWPfT8OBqVxvy4Mw;zKH2yAtRyefwsgOO8h8Szc4kru68iEm95QmIG7svw;36481851-VhzByC4f9MSsZES1QZQ4e4iBvA9bWGLyv9HKFpy7c;OahDuXF2Lhl5xlNYALhYZir6xSflAxKP9Zh89T05po"/>
</Account>
<Account Email="teste@iscte-iul.pt" Name="Miguel" Password="meh">
<EmailAccount Email="darfo@iscte-iul.pt" Password="EngenhariaSoftware98"/>
<Facebook Facebook="EAADoYhkS7RcBAEKHnrBd4T60iYQZCm1jfrK4xpq1quSDLCcQW7tAOXIw5TiK26A1MVZBTCV2jcijb8cdV1BtMuSZCOBdYRcDAMINHo7j4ws6F76RZC1uWuK18sZAZAZCSl99RXPJERm8okjSfMptfZCUKCc40KjUeEdtMi0a23ZCFJQZDZD"/>
<Twitter Twitter="W1f0VvgWPfT8OBqVxvy4Mw;zKH2yAtRyefwsgOO8h8Szc4kru68iEm95QmIG7svw;36481851-VhzByC4f9MSsZES1QZQ4e4iBvA9bWGLyv9HKFpy7c;OahDuXF2Lhl5xlNYALhYZir6xSflAxKP9Zh89T05po"/>
</Account>
</ISCTEAccounts>
